html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

#nav-left,
#nav-right {
    margin: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: white;
}

#nav-left {
    float: left;
}

#nav-right {
    float: right;
}

.page-container {
    height: 100%;
    position: relative;
    perspective: 100em;
}

#page0 {
    background: red;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#page1 {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.cube {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25rem;
    color: white;
}